@{
    ViewData["Title"] = "ForUs Page";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <style>
        main {
            border-width: 3px;
            border-color: pink;
            border-style: solid;
        }
    </style>
</head>

<div class="text-center">

    <h3 class="display-4">Всичко за цветарският ни магазин "Роза".</h3>
    <p style="text-align:center;">

        Цветарски магазин "Роза" са верига магазини позиционирани в големите градове на България. Нашият най-голям склад се 
        намира в гр. София, но имаме обекти и в гр. Пловдив, Варна, Бургас, Стара Загора, Русе, Плевен, Перник, Благоевград 
        и във Велико Търново. Уеб сайтът ни е създаден на 26.04.2022г.. В него ще откриете разнообразие от цветя и красиви 
        букети за вашите поводи. 
    </p>
    <img src="https://www.floristssupply.com/wp-content/uploads/Florists_Supply_Customer_Relationships.jpg"
         alt="Store pic" width="800" height="500">
</div>
