@model IEnumerable<OrderListingViewModel>

@{
    ViewData["Title"] = "AllOrders";
}

<h1>All Orders</h1>

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>

        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlowerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowerName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
               
            </tr>
        }
    </tbody>

    
</table>
